@charset "utf-8";
.our-clients {
  padding: 33px 0 70px;
  background-color: #f4f4f4;

  & h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 72px;

  }
}

.slider-wrap {
  position: relative;
}

.btn-arrow {
  position: absolute;
}

.btn-arrow {
  background-image: url("../img/arrow-icon.png");
  background-color: transparent;
  line-height: 0;
  position: absolute;
  top: 47%;
  display: block;
  width: 38px;
  height: 38px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  z-index: 999;
}

.prev {
  left: -68px;
}

.next {
  right: -63px;
  background-position: 38px 0;
}

.slick-active {
    outline: 0!important;
}

.responsiv {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:focus {
    outline: 0!important;
  }

  &:nth-child(2n+1) {
    padding-right: 15px;
  }

  &:nth-child(2n) {
    padding-left: 12px;
    padding-right: 3px;

   }

  & img {
    margin-top: 3px;
    margin-left: 20px;
  }

  &__text {
    margin-top: 3px;
    margin-bottom: 3px;
    position: relative;
    text-align: left;
    list-style-type: none;
    box-sizing: border-box;
    border-radius: 10px;
    width: 370px;
    height: auto;
    padding-left: 0;
    background: #FFF;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .2);
    z-index: 10;

    &:before {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 28px solid transparent;
      border-right: 28px solid #E9E6E6;
      border-bottom: 28px solid transparent;
      position: absolute;
      bottom: 1px;
      left: -28px;
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-top: 28px solid transparent;
      border-right: 28px solid #FFF;
      border-bottom: 28px solid transparent;
      position: absolute;
      bottom: 1px;
      left: -24px;
    }

    & blockquote {
      font-family: "Century Gothic";
      font-size: 18px;
      line-height: 1.25;
      color: #969696;
      text-align: left;
      margin: 0;
      padding: 11px 10px 25px 15px;
      border: 0;
      //letter-spacing: .4px;
    }

    & p {
      margin-bottom: 0;
      padding-right: 17px;
      font-family: "Montserrat-Regular";
      font-size: 18px;
      color: #2b2a2a;
      text-align: right;

      &:last-child {
        margin-bottom: 17px;

        font-family: "Montserrat-Regular";
        font-size: 16px;
        line-height: 1;
        color: #646464;
        text-align: right;
      }
    }
  }
}

@include adaptive(max1500) {
  .prev {
    left: -13px;
  }

  .next {
    right: -13px;
  }

  .responsiv {

    &:nth-child(2n+1) {
      padding-right: 0;
      padding-left: 30px;
    }

    &:nth-child(2n) {
      padding-left: 0;
      padding-right: 30px;
    }

    & img {
      margin-left: 10px;
    }
  }
}

@include adaptive(max1199) {
  .our-clients {
    padding: 30px 0 65px;
  }

  .prev {
    left: -8px;
  }

  .next {
    right: -8px;
  }

  .responsiv {

    &:nth-child(2n+1) {
      padding-left: 35px;
    }

    &:nth-child(2n) {
      padding-right: 35px;
    }

    &__text {
      width: 280px;

      & blockquote {
        font-size: 17px;
        margin: 0;
        padding: 18px 8px 18px 13px;
        border: 0;
      }

      & p {
        padding-right: 8px;
        font-size: 17px;

        &:last-child {
          margin-bottom: 18px;
          font-size: 15px;
        }
      }
    }

    & img {
      width: 140px;
    }
  }
}

@include adaptive(max991) {
  .our-clients {
    padding: 25px 0 60px;

    & h2 {
      font-size: 26px;
      margin-bottom: 60px;

    }
  }

  .prev {
    left: 20px;
  }

  .next {
    right: 20px;
  }

  .responsiv {

    &:nth-child(n) {
      padding-left: 140px;
      padding-right: 140px;
    }

    &__text {
      width: 280px;

      & blockquote {
        font-size: 16px;
        margin: 0;
        padding: 16px 7px 16px 12px;
      }

      & p {
        padding-right: 7px;
        font-size: 16px;

        &:last-child {
          margin-bottom: 16px;
          font-size: 14px;
        }
      }
    }
  }
}

@include adaptive(max767) {
  .our-clients {
    padding: 20px 0 50px;

    & h2 {
      font-size: 24px;
      margin-bottom: 50px;

    }
  }

  .prev {
    left: 2px;
  }

  .next {
    right: 2px;
  }

  .responsiv {

    justify-content: center;

    &:nth-child(n) {
      padding-left: 40px;
      padding-right: 40px;
    }

    &__text {
      margin-left: 10px;
      width: 240px;

      & blockquote {
        font-size: 15px;
        margin: 0;
        padding: 15px 6px 15px 11px;
      }

      & p {
        padding-right: 6px;
        font-size: 15px;

        &:last-child {
          margin-bottom: 15px;
          font-size: 13px;
        }
      }
    }

    & img {
      width: 130px;
    }
  }
}

@include adaptive(max480) {
  .our-clients {
    padding: 15px 0 40px;

    & h2 {
      font-size: 22px;
      margin-bottom: 40px;

    }
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }

  .responsiv {

    &:nth-child(n) {
      padding-left: 10px;
      padding-right: 10px;
    }

    &__text {
      margin-left: 10px;
      width: 195px;

      & blockquote {
        font-size: 15px;
        margin: 0;
        padding: 14px 5px 14px 10px;
      }

      & p {
        padding-right: 5px;
        font-size: 14px;

        &:last-child {
          margin-bottom: 14px;
          font-size: 12px;
        }
      }
    }

    & img {
      width: 90px;
      margin-left: 0;
    }
  }
}






